################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApplicationServer/v16/.suo
/.vs/prova-dev/v16/.suo
/.vs
/ApplicationMonitor/.vs/ApplicationMonitor/v16
/ApplicationMonitor/ApplicationMonitor/obj
